In [1]:
import warnings
warnings.filterwarnings('ignore')
import lxml.html as LH
import numpy as np
import pandas as pd
import urllib3
import datetime

### Scrape fixture history

Load data from www.worldfootball.net and parse resulting HTML into a df

In [2]:
# Each results page is for a season and indexed by its end year.
# Choose a year to start then loop back from there until we run out
start_from = 1990

In [3]:
# Teams to gather data for
teams = ['liverpool-fc']

In [4]:
# Connection settings
# http = urllib3.PoolManager()
default_headers = urllib3.make_headers(proxy_basic_auth='shephej:Kjowwnim35')
http = urllib3.ProxyManager("https://10.132.100.135:8080/", headers=default_headers) # 8080

In [5]:
def text(elt):
    """Process HTML objects to readable strings"""
    return elt.text_content().replace(u'\xa0', u' ').replace(u'\t', u'').replace(u'\r', u'').replace(u'\n', u'')

In [6]:
season = start_from
season_number = 0
team_list = []
now = datetime.datetime.now()
for team in teams:
    
    while season <= now.year:

        # Page to read
        target_page = 'https://www.worldfootball.net/teams/{}/{}/3/'.format(team, season)

        # Read page to get HTML
        r = http.request('GET', target_page)
        page = r.data.decode('utf-8')

        # Parse HTML
        root = LH.fromstring(page)
        table = root.xpath('//table')[0]
        header = ['round', 'date', 'time', 'place', '', 'opponent', 'result', '']
        data = [[text(td) for td in tr.xpath('td')]  
                for tr in table.xpath('//tr')]   
        current_competition = None
        table_data = []
        for row in data:

            if len(row) == 1:
                current_competition = row[0]

            if current_competition is not None and len(row)==len(header):
                row.append(current_competition)
                row.append('{} / {}'.format(season-1, season))
                row.append(season_number)
                table_data.append(row)
                
        header.append('competition')
        header.append('season')
        header.append('season_number')

        # Create data frame
        if 'df' in locals():
            df = df.append(pd.DataFrame(table_data, columns=header), ignore_index=True)
        else:
            df = pd.DataFrame(table_data, columns=header)
            
        # Increment year 
        print('Data acquired for team {}, season {} / {}'.format(team, season-1, season))
        season += 1
        season_number +=1
        
        # Also record teams played in world soccer's format
        team_elems = root.xpath('//a')
        for elem in team_elems:
            if 'href' in elem.attrib:
                if '/teams/' in elem.attrib['href']:
                    team_string = elem.attrib['href'].replace('/teams/', '')
                    if team_string.count('/') == 1:
                        team_list.append(team_string.replace('/', ''))

Data acquired for team liverpool-fc, season 1989 / 1990
Data acquired for team liverpool-fc, season 1990 / 1991
Data acquired for team liverpool-fc, season 1991 / 1992
Data acquired for team liverpool-fc, season 1992 / 1993
Data acquired for team liverpool-fc, season 1993 / 1994
Data acquired for team liverpool-fc, season 1994 / 1995
Data acquired for team liverpool-fc, season 1995 / 1996
Data acquired for team liverpool-fc, season 1996 / 1997
Data acquired for team liverpool-fc, season 1997 / 1998
Data acquired for team liverpool-fc, season 1998 / 1999
Data acquired for team liverpool-fc, season 1999 / 2000
Data acquired for team liverpool-fc, season 2000 / 2001
Data acquired for team liverpool-fc, season 2001 / 2002
Data acquired for team liverpool-fc, season 2002 / 2003
Data acquired for team liverpool-fc, season 2003 / 2004
Data acquired for team liverpool-fc, season 2004 / 2005
Data acquired for team liverpool-fc, season 2005 / 2006
Data acquired for team liverpool-fc, season 2006 / 2007
Data acquired for team liverpool-fc, season 2007 / 2008
Data acquired for team liverpool-fc, season 2008 / 2009
Data acquired for team liverpool-fc, season 2009 / 2010
Data acquired for team liverpool-fc, season 2010 / 2011
Data acquired for team liverpool-fc, season 2011 / 2012
Data acquired for team liverpool-fc, season 2012 / 2013
Data acquired for team liverpool-fc, season 2013 / 2014
Data acquired for team liverpool-fc, season 2014 / 2015
Data acquired for team liverpool-fc, season 2015 / 2016
Data acquired for team liverpool-fc, season 2016 / 2017
Data acquired for team liverpool-fc, season 2017 / 2018

### Format resulting dataframe

Includes the extraction of goals and results etc.

In [7]:
# Drop empty columns resulting from the HTML parse
df.drop('', axis=1, inplace=True)

# Convert the date to a datetime and get a round number by comp
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')
df['date_as_int'] = pd.to_numeric(df['date'])
grouped = df.groupby('competition')
df['round_number'] = grouped['date_as_int'].rank(method='min')
df.drop('date_as_int', axis=1, inplace=True)

# Extract the goals scored by each team
df['team_score'] = df['result'].str[0]
df['opposition_score'] = df['result'].str[2]
df['team_ht_score'] = df['result'].str[5]
df['opposition_ht_score'] = df['result'].str[7]

# Results
df['team_win'] = df['team_score'] > df['opposition_score']
df['team_draw'] = df['team_score'] == df['opposition_score']
df['team_loss'] = df['team_score'] < df['opposition_score']

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566 entries, 0 to 1565
Data columns (total 17 columns):
round                  1566 non-null object
date                   1566 non-null datetime64[ns]
time                   1566 non-null object
place                  1566 non-null object
opponent               1566 non-null object
result                 1566 non-null object
competition            1566 non-null object
season                 1566 non-null object
season_number          1566 non-null int64
round_number           1566 non-null float64
team_score             1566 non-null object
opposition_score       1566 non-null object
team_ht_score          1508 non-null object
opposition_ht_score    1503 non-null object
team_win               1566 non-null bool
team_draw              1566 non-null bool
team_loss              1566 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 175.9+ KB

In [8]:
df.head()

,round,date,time,place,opponent,result,competition,season,season_number,round_number,team_score,opposition_score,team_ht_score,opposition_ht_score,team_win,team_draw,team_loss
0,1. Round,1989-08-18,,H,Manchester City,3:1 (1:1),Premier League 1989/1990,1989 / 1990,0,1.0,3,1,1,1,True,False,False
1,2. Round,1989-08-22,,A,Aston Villa,1:1 (1:0),Premier League 1989/1990,1989 / 1990,0,2.0,1,1,1,0,False,True,False
2,3. Round,1989-08-25,,A,Luton Town,0:0 (0:0),Premier League 1989/1990,1989 / 1990,0,3.0,0,0,0,0,False,True,False
3,5. Round,1989-09-08,,A,Derby County,3:0 (0:0),Premier League 1989/1990,1989 / 1990,0,4.0,3,0,0,0,True,False,False
4,4. Round,1989-09-11,,H,Crystal Palace,9:0 (3:0),Premier League 1989/1990,1989 / 1990,0,5.0,9,0,3,0,True,False,False

In [9]:
# Write results
df.to_csv('../data/training_data/world_football_fixture_history.csv', index=False)

### Output all teams played

Output teams played in wolrd soccers format

In [10]:
opp_teams = np.unique(np.array(team_list))
print('{} different teams played'.format(len(opp_teams)))

177 different teams played

In [11]:
opp_teams

array(['1899-hoffenheim', 'ac-milan', 'acf-fiorentina', 'afc-bournemouth',
       'afc-wimbledon', 'aj-auxerre', 'alania-vladikavkaz',
       'anzhi-makhachkala', 'apollon-limassol', 'arsenal-fc', 'as-monaco',
       'as-roma', 'aston-villa', 'athletic-bilbao', 'atletico-madrid',
       'barnsley-fc', 'bayer-leverkusen', 'bayern-muenchen', 'besiktas',
       'birmingham-city', 'blackburn-rovers', 'blackpool-fc', 'boavista',
       'bolton-wanderers', 'borussia-dortmund', 'bradford-city',
       'brighton-hove-albion', 'bristol-city', 'bristol-rovers',
       'broendby-if', 'bsc-young-boys', 'burnley-fc', 'burton-albion',
       'cardiff-city', 'carlisle-united', 'cd-alaves', 'celta-vigo',
       'celtic-fc', 'charlton-athletic', 'chelsea-fc', 'coventry-city',
       'crewe-alexandra', 'crystal-palace', 'cska-moskva', 'cska-sofia',
       'debreceni-vsc', 'deportivo-la-coruna', 'deportivo-saprissa',
       'derby-county', 'dinamo-kiev', 'england-amat-team',
       'england-frauen-team', 'england-team', 'england-u-20-d-team',
       'england-u-20-h-team', 'england-u15-h-team', 'england-u16-h-team',
       'england-u17-d-team', 'england-u17-h-team', 'england-u18-h-team',
       'england-u19-d-team', 'england-u19-h-team', 'england-u21-h-team',
       'everton-fc', 'exeter-city', 'fbk-kaunas', 'fc-augsburg',
       'fc-barcelona', 'fc-basel', 'fc-kuusysi', 'fc-porto', 'fc-sion',
       'fc-unirea', 'fc-utrecht', 'fc-vss-kosice', 'fc-wacker-innsbruck',
       'fk-gomel', 'fk-rabotnicki', 'fulham-fc', 'galatasaray',
       'genoa-cfc', 'girondins-bordeaux', 'grazer-ak', 'grimsby-town',
       'haka-valkeakoski', 'havant-waterlooville', 'heart-of-midlothian',
       'hertha-bsc', 'huddersfield-town', 'hull-city', 'inter',
       'ipswich-town', 'juventus', 'leeds-united', 'leicester-city',
       'levski-sofia', 'lille-osc', 'liverpool-fc',
       'liverpool-fc-a-junioren', 'liverpool-fc-b-junioren',
       'liverpool-fc-r', 'liverpool-fc-u23', 'liverpool-lfc-frauen',
       'luton-town', 'maccabi-haifa', 'manchester-city',
       'manchester-united', 'mansfield-town', 'middlesbrough-fc',
       'millwall-fc', 'milton-keynes-dons', 'mypa-kouvola',
       'newcastle-united', 'nk-maribor', 'northampton-town',
       'norwich-city', 'nottingham-forest', 'notts-county',
       'oldham-athletic', 'olimpija-ljubljana', 'olympiakos-piraeus',
       'olympique-lyon', 'olympique-marseille', 'paris-saint-germain',
       'peterborough-united', 'pfc-ludogorets-razgrad', 'plymouth-argyle',
       'port-vale-fc', 'portsmouth-fc', 'preston-north-end',
       'psv-eindhoven', 'queens-park-rangers', 'rapid-bucuresti',
       'rc-strasbourg', 'reading-fc', 'real-betis', 'real-madrid',
       'rochdale-afc', 'rotherham-united', 'rsc-anderlecht', 'rubin-kazan',
       'sao-paulo-fc', 'sevilla-fc', 'sheffield-united',
       'sheffield-wednesday', 'shrewsbury-town', 'sk-brann', 'sl-benfica',
       'slovan-liberec', 'southampton-fc', 'sparta-praha',
       'spartak-moskva', 'sporting-braga', 'ssc-napoli', 'standard-liege',
       'steaua-bucuresti', 'stoke-city', 'sunderland-afc', 'swansea-city',
       'swindon-town', 'the-new-saints', 'tottenham-hotspur',
       'toulouse-fc', 'trabzonspor', 'tranmere-rovers', 'udinese-calcio',
       'valencia-cf', 'villarreal-cf', 'vitesse', 'watford-fc',
       'west-bromwich-albion', 'west-ham-united', 'wigan-athletic',
       'wolverhampton-wanderers', 'wycombe-wanderers', 'yeovil-town',
       'zenit-st-petersburg'],
      dtype='<U23')

In [35]:
prem_opponents = df.loc[df['competition'].str.contains('Premier League'), 'opponent'].str.lower()
prem_opponents = opponents.str.replace(' ', '-')

In [37]:
bool = []
for t in prem_opponents:
    if t in opp_teams:
        bool.append(True)
    else:
        bool.append(False)

In [39]:
bool = np.array(bool)

In [41]:
sum(bool) / len(bool)

0.97853309481216455

In [42]:
prem_opponents[~bool]

7                 wimbledon-fc
30                wimbledon-fc
51                wimbledon-fc
69                wimbledon-fc
117               wimbledon-fc
138               wimbledon-fc
170               wimbledon-fc
183               wimbledon-fc
231               wimbledon-fc
246               wimbledon-fc
266               wimbledon-fc
295               wimbledon-fc
320               wimbledon-fc
344               wimbledon-fc
384               wimbledon-fc
407               wimbledon-fc
419               wimbledon-fc
439               wimbledon-fc
485               wimbledon-fc
506               wimbledon-fc
530               wimbledon-fc
543               wimbledon-fc
1539    brighton-&-hove-albion
1562    brighton-&-hove-albion
Name: opponent, dtype: object